<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/views/css/main.css">
    <link rel="stylesheet" href="/views/css/table.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <script src='../scripts/editPlayersInfo.js'></script>
    <title>Document</title>
</head>
<body>


      <h1>Edit the Data Below</h1>
      <br>
      <input type="text" id="myInput" onkeyup="searchData()" placeholder="Search for names.." title="Type in a name">

      <!--<button onclick="populateTable()">Press Me</button>   -->

      <div id="editData">

      </div>

      <button class="button button2" onclick="writeToFile()">Save</button>
      <button class="button button2" id="close-btn" onclick="window.top.close()">close</button>

      <div id="dataSaved"></div>


</body>
</html>


