<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src='../scripts/dataread.js'></script>

    <style>
    body{
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }

    button{
        font-family: 'Roboto', sans-serif;
    }

    #player-data{
        text-align: left
    }
    </style>
</head>
<body>
    <div id="insert-mock-data">

        <button onclick="openFile('player-data')" id="insertMockData">Insert Player Data</button>
        <button onclick="openFile('offer-data')" id="insertOfferData">Insert Offer Data</button>

        <div>
            <p id="player-data-status">Player Data ❌</p>
            <p id="offer-data-status">Offer Data ❌</p>
        </div>

        <br>
        <br>
    </div>


    <div id ="player-data">
        
    </div>
    
</body>
</html>