<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src='../scripts/dataread.js'></script>
    <script src='../scripts/watchFile.js'></script>

    <style>
    body{
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }

    button{
        font-family: 'Roboto', sans-serif;
    }

    #player-data{
        text-align: left
    }
    </style>

</head>
<body onload="checkUploaded()">
    <div id="insert-mock-data">
        <body bgcolor="#E6E6FA">    

        <div>
            <button class="w3-button w3-black w3-round-xlarge" onclick="openPlayers()" id="player-data-status"></button>
            <button class="w3-button w3-black w3-round-xlarge" onclick="openOffers()" id="offer-data-status"></button>
        </div>

        <br>
        <br>
    </div>


    <div id ="player-data">

    </div>
    <div id="offer-data">

    </div>
    
</body>
</html>