<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"><!--bootstrap-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/views/css/main.css">
    <link rel="stylesheet" href="/views/css/sidebar.css">
    <link rel="stylesheet" href="/views/css/table.css">
    <link rel="stylesheet" href="/views/css/titlebar.css">
    <link rel="stylesheet" href="/views/css/form.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- <script src="//code.jquery.com/jquery-1.11.3.min.js"></script> -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>  -->
    <script src='../scripts/dataread.js'></script>
    <script src='../scripts/watchFile.js'></script>
    <script src='../scripts/titlebar.js'></script>
    <script src='../scripts/convertPointsToDollars.js'></script>
    <script src='../scripts/editPlayersInfo.js'></script>
    <script src='../scripts/editOfferData.js'></script>
    <script src='../scripts/addNewPlayer.js'></script>
    <script src='../scripts/editCouponInfo.js'></script>
    <script src='../scripts/editPort.js'></script>
    <script src='../scripts/retailRating.js'></script>
</head>
<body onload="checkUploaded(); isAppReady()">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <div id="title-bar">
            <div id="title-bar-btns">
                    <button class="button button2" id='settings-button' onclick="openNav()" style='width: 100px'>Settings</button>
                    <button id="min-btn">-</button>
                    <button id="max-btn">□</button>
                    <button id="close-btn">𝗑</button>
            </div>
        </div>
    <span id = 'main-page'>
        <div id="mySidebar" class="sidebar">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

            <div id="insert-mock-data">
                <div>
                    <p> <button class="button button1" onclick="openPlayers()" id="player-data-status"></button> </p>
                    <p> <button class="button button1" onclick="openOffers()" id="offer-data-status"></button> </p>
                    <p> <button class="button button1" onclick="openCoupons()" id="coupon-data-status"></button> </p>
                </div>
                <br>
                <div id="pointsToDollarsContainer" style="white-space: nowrap">
                    <h4 style='color: #f5f5f5'>Points To Dollars</h4>
                    <h2 id='pointsToDollars'>1 : 1</h2>
                    <br>
                    <button class="button button1" onclick='convertPointsToDollars()'>edit</button>  
                </div>
                <br>
                <div id="retailContainer" style="white-space: nowrap">
                    <h4 style='color: #f5f5f5'>Retail Rating</h4>
                    <h2 id='retail-rating'>1 : 1</h2>
                    <br>
                    <button class="button button1" onclick='editRetailRating()'>edit</button>  
                </div>
                <br>
                <br>
            </div>
            <div id ="editPlayerInfo">
                    <p> <button class ="button button1" onclick="editPlayers()" id="edit-info" value="Edit Info">Edit Players' Info</button></p>
            </div>

            <div id="editCouponData">
                <p> <button class ="button button1" onclick="editCouponData()" id="edit-couponsInfo" value="Edit Coupon Info">Edit Coupons Info</button></p>
            </div>

            <div id="editOfferData">
                <p> <button class ="button button1" onclick="editOfferData()" id="edit-offerInfo" value="Edit Offers Info">Edit Offers Info</button></p>
            </div>
            <br>

            <div class='nowrap'>
                <input type='text' id='port' placeholder="port" maxlength="5">
                <button id='submit-port' class="button button1" style="width: 80px" onclick="submitPort()">submit</button>
                <p id='port-alert'></p>
            </div>
            <div class='nowrap'>
                <input id='disable-animation' type='checkbox' onclick="disableAnimation(this)"><p style='white-space: nowrap; display: inline; color: #f5f5f5'> Disable Animations</p><br>
            </div>
        </div>



        <div id="main">        
            <div id="data" style="text-align: center">
                
                <h1 id="app-not-ready">
                <br>
                <br>
                    App is not ready and will not recieve requests. To start recieving requests, click on the settings 
                    button in the upper right hand corner and load in Player and Offer data in the format of .csv's.
                </h1>
                
                <div id ="player-data">
                </div>
    
                <div id="offer-data">
                    <div id='terminal-container' style='display:none'>
                        <h3 style="margin-top: 0px;font-weight: bolder;font-size: 40px;">Gaming Log</h3>  
                        <div id='terminal'></div>
                    </div>
                </div>
            </div>
        </div>
    </span>

    <span id='edit-players' style='display: none'>
        <h1>Edit Player Data</h1>

        <input type="text" id="myInput" onkeyup="searchData(this)" placeholder="Search by name" title="Type in a name">
        <!-- <div id = "upper-buttons">
            <button class="button button2" onclick="newWindow()"" id="new-player">Add a New Player</button>
            <button class="button button2" onclick="writeToFile()">Save</button>
            <button class="button button2" id="close-btn" onclick="loadMain()">Close</button>
        </div> -->

        <div id="editData" >
  
        </div>

        <button class="button button2" onclick="newWindow()" id="new-player">Add a New Player</button>
        <button class="button button2" onclick="writeToFile()">Save</button>
        <button class="button button2" id="close-btn" onclick="loadMain()">Close</button>

  
        <div id="dataSaved"></div>
        <div id="error-message"></div>
    </span>

    <span id='edit-coupons' style='display: none'>
        <h1>Edit Coupon Data</h1>
        <input type="text" id="myInput"  onkeyup="searchCouponTable(this)" placeholder="Search by coupon number" title="Type in a coupon number">
        <div id="editCoupon"> 
            
        </div>
    
        <button class="button button2"  onclick="writeCoupons()">Save</button>
        <button class="button button2" id="couponClose-btn" onclick="loadCouponMain()">Close</button>
    
        <div id="couponDataSaved"></div>
    </span>

    <!-- Adding window for Player data display Edit Offer Data -->
    <span id="edit-offers" style="display: none">
        <h1>Edit Offers Data</h1>
        <input type="text" id="myInput" onkeyup="searchOfferTable(this)" placeholder="Search by Account Number" title="Type in Player's Name">
        <div id="editOffer">
            <!--Html is added in via js-->
        </div>

        <button class="button button2" onclick="saveOffers()">Save</button>
        <button class="button button2" id="offerClose-btn" onclick="loadOfferMain()">Close</button>

        <div id="offerDataSaved"></div>

    </span>

    <span id='add-player' style='display: none'>
        <h1>Add New Player</h1>

        <div id="add-plyr" class="container">
            <form id="plyr-form">
                <div class = "row">
                    <label for='fname'>First Name</label>
                    <input type='input1' id='fname' name='firstname' placeholder='First Name..' value="" onchange="enterData(this)">
                </div>
                
                <div class = "row">
                    <label for='lname'>Last Name</label>
                    <input type='input1' id='lname' name='lastname' placeholder='Last Name..' onchange="enterData(this)">
                </div>
               
                <div class = "row">
                    <label for='account-number'>Account Number</label>
                    <input type='input1' id='account-number' name='account-number' placeholder='Account Number..' onchange="enterData(this)">
                </div>

               
                <div class = "row">
                    <label for='tier-level'>Tier Level</label> 
                    <input type='input1' id='tier-level' name='tier-level' placeholder='Tier Level..' onchange="enterData(this)"> <br>
                </div>


                <div class = "row">
                    <label for='point-balance'>Point Balance</label>
                    <input type='input1' id='point-balance' name='point-balance' placeholder='Point Balance..' onchange="enterData(this)">
                </div>
                
                <div class = "row">
                    <label for='comp-balance'>Comp Balance</label>
                    <input type='input1' id='comp-balance' name='comp-balance' placeholder='Comp Balance..' onchange="enterData(this)"> 
                </div>
                

                <div class = "row">
                    <label for='promo-balance'>Promo2 Balance</label>
                    <input type='input1' id='promo-balance' name='promo-balance' placeholder='Promo2 Balance..' onchange="enterData(this)">
                </div>
               
                <div class = "row">
                    <label for='dob'>Date of Birth</label>
                    <input type='date' id='dob' name='dob' value='07/22/2019' min='01/01/1920' max='01/01/2020' onchange="enterData(this)">
                </div>
                
                <div class = "row">
                    <label for='isInActive'>Is InActive</label>
                    <select id='isInActive' name='isInActive' onchange="enterData(this)" >
                        <option value='FALSE'>FALSE</option>
                        <option value='TRUE'>TRUE</option> 
                    </select> 
                </div>

                <div class = "row">
                    <label for='isbanned'>Is Banned</label>
                    <select id='isbanned' name='isbanned' onchange="enterData(this)">
                        <option value='FALSE'>FALSE</option>
                        <option value='TRUE'>TRUE</option> 
                    </select><br> 
                </div>
                    
                <div class = "row">
                    <label for='isPinLocked'>Is Pin Locked</label>
                    <select id='isPinLocked' name='isPinLocked' onchange="enterData(this)" >
                        <option value='FALSE'>FALSE</option>
                        <option value='TRUE'>TRUE</option> 
                    </select>
                </div>
                <button class="button button2" type="reset" id="save-plyr-button" onclick="saveForm()">Save</button>
                <button class="button button2" type="reset" id="close-btn" onclick="loadTable()">Close</button>
            </form>
        </div>

        <div id="save-plyr"></div>
        
    </span>

    <script>
        //load terminal on initial load
        fs.readFile(path.join('./loghtml.txt'), (err, data) => {
            displayTerminal(data)
        })

        document.getElementById('port').placeHolder = '8008'

        function openNav() {
            var e = document.getElementById("mySidebar"); 
            document.getElementById("main").style.marginLeft = '250px';
            document.getElementById("title-bar").style.marginLeft = "250px";
            if(e.style.width == '250px' ){
                closeNav();
            }
            else{
                e.style.width = '250px';
            }

        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
            document.getElementById("title-bar").style.marginLeft = "0";
        }

        function disableAnimation(checkbox){
            if(checkbox.checked === true) {
                document.getElementById('mySidebar').style.transition = '0s'
                document.getElementById('main').style.transition = '0s'
            } else {
                document.getElementById('mySidebar').style.transition = '0.5s'
                document.getElementById('main').style.transition = '0.5s'
            }
        }

    </script>

    
</body>
</html> 