<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insert Mock Data</title>
    <link rel="stylesheet" href="css/insertData.css">
    <script src="../controller/dataread.js"></script>
    <script src="../controller/requestPlayerInfo.js"></script>
</head>
<body>

    
    <div id="insert-mock-data">
        <button type="button" onclick="openFile()" id="insertMockData">Insert Mock Data</button>
    </div>

    <div id="player-look-up">
        Enter player acct number: <input type="text" id="player-request-text-box">
        <button id='player-submit-button' onclick="submitSearch()">submit</button>
    </div>


</body>
</html>