body {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #ffffff;
}

/*I DONT KNOW WHERE THE HELL THIS ORANGE BOX IS COMING FROM*/
body:focus,
button:focus,
input:focus {
  outline: 0;
  border: none;
}

button {
  font-family: "Roboto", sans-serif;
  user-select: none;
}

h2 {
  color: white;
  font-size: 25px;
  display: inline;
  margin-bottom: 0px;
}

input[type="text"] {
  border-radius: 16px;
  background-color: white;
  text-align: center;
  width: 80px;
  font-weight: bold;
  margin-bottom: 10px;
  border: none;
  color: black;
  white-space: nowrap;
  height: 30px;
}
input[type="text"]::-webkit-input-placeholder {
  font-weight: normal;
}

.input1[type="text"] {
  background-color: transparent;
  text-align: center;
  width: 80%;
  font-weight: bold;
  margin-bottom: 10px;
  border: none;
  color: white;
  white-space: nowrap;
}
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bounce1 {
  background-color: #ffd12a;
}
.bounce2 {
  background-color: #005d99;
}
.bounce3 {
  background-color: #ec1c2d;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

#terminal-container {
  position: absolute;
  bottom: 12%;
  top: 5%;
  margin-left: 5%;
  margin-right: 4%;
}
#terminal {
  font-family: "Courier New", Courier, monospace;
  text-align: left !important;
  color: white;
  background-color: #161616;
  border-radius: 2px;
  max-height: 100%;
  overflow-y: scroll;
  margin: 10px 0px;
  padding: 0px 10px 0px 10px;
}

#port {
  width: 65px;
}

#port-alert {
  color: #ffd12a;
}

.ccontent {
  display: none;
  overflow: hidden;
  white-space: pre;
}

.collapsible {
  cursor: pointer;
  outline: none;
  background: transparent;
  text-decoration: underline;
  display: inline-block;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
#player-data {
  text-align: left;
}

#app-not-ready {
  color: #ec1c2d;
  font-size: 22px;
  display: none;
  text-align: center;
  word-wrap: none;
  margin: 30px;
}

#cmp-credit {
  position: absolute;
  bottom: 0px;
  left: 15px;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
}

.row1{
  background-color: #FFD12A;
}

/*custom scroll wheel*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #005d99;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #005d99;
}

.nowrap {
  white-space: nowrap;
}

