
body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #F5F5F5;
}

/*I DONT KNOW WHERE THE HELL THIS ORANGE BOX IS COMING FROM*/
body:focus, button:focus, input:focus{
    outline:0;
    border:none;
}

button{
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

h2{
    color: white; 
    font-size: 25px; 
    display: inline;
    margin-bottom: 0px;
}

input[type=text] {
    border-radius: 16px;
    background-color: white;
    text-align: center;
    width: 80px;
    font-weight: bold;
    margin-bottom: 10px;
    border: none;
    color:black;
    white-space: nowrap; 
}
input[type=text]::-webkit-input-placeholder {
    font-weight: normal
}


#player-data{
    text-align: left
}

#app-not-ready{
    color: red;
    font-size: 80px;
    display: none;
}


/*custom scroll wheel*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}