
body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #ffffff;
}

/*I DONT KNOW WHERE THE HELL THIS ORANGE BOX IS COMING FROM*/
body:focus, button:focus, input:focus{
    outline:0;
    border:none;
}

button{
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

h2{
    color: white; 
    font-size: 25px; 
    display: inline;
    margin-bottom: 0px;
}

input[type=text] {
    border-radius: 16px;
    background-color: white;
    text-align: center;
    width: 80px;
    font-weight: bold;
    margin-bottom: 10px;
    border: none;
    color:black;
    white-space: nowrap; 
    height:30px;
}
input[type=text]::-webkit-input-placeholder {
    font-weight: normal;
}

.input1[type=text] {
  background-color: transparent;
  text-align: center;
  width: 80%;
  font-weight: bold;
  margin-bottom: 10px;
  border: none;
  color: white;
  white-space: nowrap; 
}

#player-data{
    text-align: left
}

#app-not-ready{
    color: #ec1c2d;
    font-size: 18px;
    display: none;
    text-align: left;
    word-wrap: none;
}

#cmp-credit{
  position: absolute;
  bottom: 0px;
  left: 15px;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
}

.row{
  background-color: #FFD12A;
}

/*custom scroll wheel*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #005d99; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #005d99; 
}